<fieldset *ngIf="key != undefined">
  <legend>
    Inserisci il nome a cui associare la prenotazione e premi invio
  </legend>
  <input
    placeholder="Inserisci qui il nome"
    class="inputName"
    #newName
    (keyup.enter)="changeName(newName.value); newName.value = ''"
  />
  <br />
  Seleziona prenotazione veloce:
  <input type="checkbox" #input (click)="setFastReservation(input.checked)" />

  <p *ngIf="name !== undefined">
    <div *ngIf="fastReservation == false">
    Ciao {{ name }}, clicca sui posti che vuoi prenotare!<br />
    Se vuoi cambiare nome digitane pure uno nuovo.
    </div>
    <div *ngIf="fastReservation">
      Ciao {{ name }}, clicca sui posti per prenotarli all'istante!
    </div>
  </p>
</fieldset>
