<!-- Titolo della pagina-->
<h1>{{ title }}</h1>

<!-- Inserimento di una chiave -->
<fieldset>
  <legend>Inserisci la chiave associata allo spettacolo e premi invio</legend>
  <input
    class="inputKey"
    #key
    (keyup.enter)="selectShow(key.value); key.value = ''"
    placeholder="Inserisci qui la chiave"
  />
</fieldset>

<!-- Lista degli spettacoli disponibili-->
<h3>Chiavi degli spettacoli disponibili:</h3>
<div *ngFor="let show of showList">
  {{ show }}
</div>

<!-- Creazione di un nuovo spettacolo-->
<h3><button (click)="createShow()">Crea un nuovo spettacolo</button></h3>

<!-- Titolo dello spettacolo selezionato -->
<h2 *ngIf="showKey != undefined">Spettacolo con codice "{{ showKey }}"</h2>
<!-- Form di inserimento nome per la prenotazione -->
<app-get-reservation-name
  [key]="showKey"
  (newBookerName)="bookerName = $event"
></app-get-reservation-name>

<!-- Visualizzazione teatro e selezione dei posti -->
<app-openreservation
  *ngIf="bookerName != undefined"
  [parterre]="parterre"
  [stage]="stage"
  [bookerName]="bookerName"
  (selectedSeat)="seat = $event"
></app-openreservation>

<!-- Conferma prenotazione -->
<button
  *ngIf="seat != undefined && bookerName != undefined && seat.oldName == 'x'"
  (click)="confirmReservation()"
>
  Conferma prenotazione!
</button>

<!-- Notifica di avvenuta prenotazione -->
<h2>{{ notification }}</h2>
